node_modules
.git
.tmp
dist
build
.strapi
*.log
.env
.env.*
!.env.example
Dockerfile
docker-compose*.yml
.dockerignore
.gitignore
README.md
.strapi-updater.json
.strapi-cloud.json
coverage
.idea
*.md
